@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-areas: "head head"
        "nav art"
        "nav art2"
        "footer footer";
        gap: 20px;
    grid-template-columns: 200px auto;
    grid-template-rows: 80px 300px 300px 250px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    align-items: center;
    grid-area: head;
    background-color: #F8F7F2;
    position: relative;
}
.green-bar{
    width: 100%;
    height: 10px;
    position: absolute;
    top: 0;
    background-color: #ff4a36;
}
.contenedor-titulo{
    width: 100%;
    display: flex;
    justify-content: center;
}
.titulo-header {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Scheherazade New', serif;
    user-select: none;
}
.herramientas-header-izquierda{
    display: flex;
    position: absolute;
    align-items: center;
    left: 20px;
}
.herramientas-header-izquierda span{
    margin: 10px;
    font-size: 1.3rem;
    cursor: pointer;
}
.herramientas-header-derecha{
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
}
.herramientas-header-derecha span{
    margin: 10px;
    font-size: 1.3rem;
    cursor: pointer;
}
nav {
    grid-area: nav;
    background-color: #F8F7F2;
    position: relative;
    /* margin-bottom: 20px; */
}
nav a {
    display: block;
    width: 100%;
    padding: 15.4%;
    text-decoration: none;
    font-size: 13.5px;
    color: #000;
    transition: all 0.5s;
    border-left: 0.1px solid #81d8cf00;
   
}
nav a:hover{
    border-left: 10px solid #ff4a36;
    transition: all 0.5s;
    color: #ff4a36;
    text-shadow: 1px 1px 1px #ff4a36;
}
.article1 {
    grid-area: art;
    background-color: #F8F7F2;
    /* margin-left: 20px; */
    position: relative;
    /* margin-bottom: 20px; */
}
.texto-art1{
    position: absolute;
    right: 0;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Scheherazade New', serif;
    padding: 20px;
}

.article1 img {
    width: 70%;
    height: 100%;
    position: absolute;
}

.article2 {
    grid-area: art2;
    background-color: #F8F7F2;
    /* margin-left: 20px; */
    /* margin-bottom: 20px; */
    position: relative;
}
.texto-art2{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    text-align: center;
    font-family: 'Scheherazade New', serif;
    padding: 20px;
}
.article2 img{
    width: 70%;
    height: 100%;
    position: absolute;
    right: 0;
}



footer {
    background-color: #ff4a36;
    grid-area: footer;

}
.contenedor-footer{
    display: flex;
    height: 100%;
}
.servicio-al-cliente,.nuestra-empresa,.sitios-relacionados{
    display: flex;
    flex-direction: column;
    margin: 40px;
}
.servicio-al-cliente p, .nuestra-empresa p,.sitios-relacionados p{
    font-weight: bolder;
    font-size: 18px;
}
.contenedor-footer a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
    margin: 5px;
}
#reloj{
    color: red;
}